@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}
body{
    height: 100vh;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 0.5rem;

}
nav{
    width: 100%;
    display: flex;
    align-items: center;
   

}
ul{
    display: flex;
   align-items: flex-start;
    gap: 4rem;
    width: 100%;
    list-style: none;
    margin-left: 35px;
}
a{
    text-decoration: none;
}

#logo{
    width: 6%;
    margin-left: 30px;
}

#user{
    width: 4%;
    margin-right: 20px;
}
.title{
    height: 150px;
    display: flex;
    align-items: center;
    padding: 2rem;
    font-size: 3vh;

}
.first-line-movies{
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-line-movies{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-line-movies{
  
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    padding: 1rem;
}
.cinemaMovies:hover{
    cursor: pointer;
    transition: transform 1s;
    transform: translateX(0) scale(1.2);
    box-shadow: 1px 3px 5px white;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #404040;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    margin-left: 2px;
    color: #cccccc;
}


.sub-menu-wrap{
    position: absolute;
    top: 10%;
    left: 80%;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
    color: #ccc;
}

.user-info img{
    width: 60px;
    margin-right: 15px;
}
        
.sub-menu-link img{
    height: 40px;
    padding: 8px;
    margin-left: 15px;
} 

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.mobile{
    display: none;
}

.buttons{
    display: none;
}

@media screen and (max-width:768px){
    header{
        padding: 2rem;
    }

    #logo{
        display: none;
    }

    ul{
        display: none;
    }

    #user{
        display: none;
    }

    #symbol{
        display: flex;
        width: 15%
    }
    .mobile{
        display: flex;
        justify-content: space-between;
    }

    #lupa{
        width: 2rem;
        height: 2rem;

   
    }

    .buttons{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        gap: 0.6rem;
        padding: 0.2rem;
        margin-top: 1rem;
    }

    .btn{
        color: white;
        border: 1px solid white;
        border-radius: 50px;
        padding: 0.4rem;
        background-color: transparent;
    }
    .title{
        display: none;
    }

    .section_container{
        display: none;
        align-items: center;
        justify-content: center;
    }

}

 